<h1> Order a pizza</h1>

<h2>{{note}}</h2>

{% if created_pizza_id %}

<a href = "{% url 'edit_order' created_pizza_id%}">EDIT YOUR ORDER </a>

{%endif%}

<form enctype="multipart/form-data" action="{%url 'order'%}" method="post">
    <!-- <label for = "topping1">TOPPING 1 :</label>
    <input id = "topping1" type = "text" name="topping1"> 
    <label for = "topping2">TOPPING 2 :</label>
    <input id = "topping2" type = "text" name="topping2"> 
    <label for = "size">Size :</label>
    <select id = "size" name="size"> 
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select> -->

    {{pizzaform}}
    <input type="submit" value="Order Pizza!!"/>
    </form>

    <br><br>
WANT MORE PIZZASS ! 

<form action = "{%url 'pizzas'%}" method="get">
    {{multiple_form}}
    <input type="submit" value="GET PIZZAS!">
    </form>


